<p> <table border="3">
<tr>
   <td valign="top"> joint_params[0].header.system_enabled </td>
   <td> <input width="100px" type="text" id="joint_params_0__header_system_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].header.system_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].header.update_enabled </td>
   <td> <input width="100px" type="text" id="joint_params_0__header_update_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].header.update_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.kp </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_kp" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.kp')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.ki </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_ki" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.ki')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.kd </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_kd" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.kd')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.max_i </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_max_i" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.max_i')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.max_pwm </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_max_pwm" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.max_pwm')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.min_pwm </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_min_pwm" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.min_pwm')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.max_speed </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_max_speed" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.max_speed')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.slope </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_slope" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.slope')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.h_bridge_type </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_h_bridge_type" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.h_bridge_type')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.h_bridge_pins[0] </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_h_bridge_pins_0_" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.h_bridge_pins[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.h_bridge_pins[1] </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_h_bridge_pins_1_" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.h_bridge_pins[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> joint_params[0].param.h_bridge_pins[2] </td>
   <td> <input width="100px" type="text" id="joint_params_0__param_h_bridge_pins_2_" /> </td>
   <td> <button type="button" onclick="setVariable('joint_params[0].param.h_bridge_pins[2]')"/> SET</td>
</tr>
</table> </p>
