<p> <table border="3">
<tr>
   <td valign="top"> servo_params.header.system_enabled </td>
   <td> <input width="100px" type="text" id="servo_params_header_system_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('servo_params.header.system_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_params.header.update_enabled </td>
   <td> <input width="100px" type="text" id="servo_params_header_update_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('servo_params.header.update_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_params.servo_pins[0] </td>
   <td> <input width="100px" type="text" id="servo_params_servo_pins_0_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_params.servo_pins[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_params.servo_pins[1] </td>
   <td> <input width="100px" type="text" id="servo_params_servo_pins_1_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_params.servo_pins[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_params.servo_pins[2] </td>
   <td> <input width="100px" type="text" id="servo_params_servo_pins_2_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_params.servo_pins[2]')"/> SET</td>
</tr>
</table> </p>
